<ion-view view-title="Halaman Utama SEFIIA">
  <ion-header-bar align-title="center" class="bar-dark">
    <h1 class="title">Home - KHOLIK</h1>
  </ion-header-bar>
  <ion-content class="home-page">
    <div class="row">
      <div class="col col-50 home-page-col home-page-col-red" style="margin: auto 3px auto 0">
        <button class="button button-block button-assertive" style="border: 0; margin: 0; padding: 0" ng-click="goOutbox()">
          <h6>Kotak Keluar</h6>
          <div class="ion-share home-page-icon"></div>
        </button>
      </div>
      <div class="col home-page-col home-page-col-red" style="margin: auto 0 auto 3px">
        <button class="button button-block button-assertive" style="border: 0; margin: 0; padding: 0" ng-click="goPersonal()">
          <h6>Personal</h6>
          <div class="ion-person-stalker home-page-icon"></div>
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 0">
      <div class="col home-page-col home-page-col-white">
        <h6>Call Achievement 0%</h6>
      </div>
    </div>
    <div class="row" style="margin-top: 0">
      <img src="../img/maps.png" style="width: 100%; height: auto">
    </div>
    <div class="row" style="margin-top: 0">
      <div class="col col-50 home-page-col home-page-col-red" style="margin: auto 3px auto 0; padding: 0">
        <button class="button button-block button-assertive" style="border: 0; margin: 0" ng-click="goAgenda()">
          <h6>Agenda</h6>
          <div class="ion-calendar home-page-icon"></div>
        </button>
      </div>
      <div class="col home-page-col home-page-col-red" style="margin: auto 0 auto 3px; padding: 0">
        <button class="button button-block button-assertive" style="border: 0; margin: 0" ng-click="goTransaction()">
          <h6>Transaksi</h6>
          <div class="ion-arrow-swap home-page-icon"></div>
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 0">
      <div class="col col-50 home-page-col home-page-col-red" style="margin: auto 3px auto 0; padding: 0">
        <button class="button button-block button-dark" style="border: 0; margin: 0" ng-click="goBroadcast()">
          <h6>Broadcast</h6>
          <div class="ion-android-wifi home-page-icon"></div>
        </button>
      </div>
      <div class="col home-page-col home-page-col-red" style="margin: auto 0 auto 3px; padding: 0">
        <button class="button button-block button-dark" style="border: 0; margin: 0" ng-click="goCollaborate()">
          <h6>Collaborate</h6>
          <div class="ion-chatbubbles home-page-icon"></div>
        </button>
      </div>
    </div>
    <div class="row" style="margin-top: 0">
      <div class="col col-50 home-page-col home-page-col-red" style="margin: auto 3px auto 0; padding: 0">
        <button class="button button-block button-assertive" style="border: 0; margin: 0" ng-click="goReport()">
          <h6>Laporan</h6>
          <div class="ion-document-text home-page-icon"></div>
        </button>
      </div>
      <div class="col home-page-col home-page-col-red" style="margin: auto 0 auto 3px; padding: 0">
        <button class="button button-block button-assertive" style="border: 0; margin: 0" ng-click="goSettings()">
          <h6>Pengaturan</h6>
          <div class="ion-android-settings home-page-icon"></div>
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>