<ion-view view-title="Halaman Login">
  <ion-content class="login-page">
    <img ng-src="img/Telkomsel_Logo.png" class="brand-image">
    <h1 class="glow">SEFIIA</h1>
    <h5 class="sub-title"><strong>S</strong>ales <strong>F</strong>orce <strong>I</strong>ntegrated <strong>I</strong>nform<strong>a</strong>tion System</h5>
    <h5 class="muted">Training v1.0.16</h5>
  </ion-content>
  <ion-footer-bar class="bar-assertive" style="height: auto">
    <form ng-submit="doLogin()" style="width: inherit">
      <div class="row">
        <div class="col col-67">
          <div class="list">
            <label class="item item-input">
              <input type="text" placeholder="Username" ng-model="loginData.username">
            </label>
            <label class="item item-input">
              <input type="password" placeholder="Password" ng-model="loginData.password">
            </label>
          </div>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" style="border: 1px solid #F2DCDC; margin: 0" type="submit">
            <div class="ion-power" style="font-size: 60px; padding: 15px 0"></div>
          </button>
        </div>
      </div>
    </form>
  </ion-footer-bar>
</ion-view>