<ion-view view-title="Halaman Tampil Berita">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">SEFIIA-News Detail</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <ion-item class="item-divider">
        Release APK baru untuk SEFIIA Mobile
      </ion-item>
      <ion-item class="item-text-wrap">
        Silahkan replace aplikasi dengan Apk yang terbaru
      </ion-item>
      <ion-item class="item-divider">
        <p>spvc-karawang - 01 Aug 2013 15:52:16</p>
      </ion-item>
    </div>
  </ion-content>
</ion-view>