<ion-view view-title="Halaman SEFIIA Dokumen Sharing">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Document Sharing</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <img src="">
        <div class="row">
          <div class="col col-90">
            User Guide Mobile
            <p>8_User_Guide_Mobile_Executive_Report.pdf</p>
            <p style="font-size: 65%">spvc-karawang - 2013-08-01 10:02:48.0</p>
          </div>
          <div class="col">
            <i class="ion-archive" style="font-size: 25px"></i>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <img src="">
        <div class="row">
          <div class="col col-90">
            Testing
            <p>5_TSEL_SEFIIA_2_-_UAT_Scenario_v_1.pdf</p>
            <p style="font-size: 65%">SUPERUSER - 2013-07-23 10:36:00.0</p>
          </div>
          <div class="col">
            <i class="ion-archive" style="font-size: 25px"></i>
          </div>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <img src="">
        <div class="row">
          <div class="col col-90">
            Share Document Report
            <p>2_repsdnum_1372065581487.pdf</p>
            <p style="font-size: 65%">SUPERUSER - 2013-07-03 15:10:49.0</p>
          </div>
          <div class="col">
            <i class="ion-archive" style="font-size: 25px"></i>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>