<ion-view view-title="Halaman SEFIIA FAQ">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">SEFIIA-FAQ</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <img src="">
        Bagaimana jika Agenda yang tampil tidak lengkap?
        <p>Refresh Agenda</p>
        <p style="font-size: 65%">spvc-karawang - 01 Aug 2013</p>
      </ion-item>
      <ion-item class="item-thumbnail-left item-text-wrap">
        <img src="">
        Apa fungsi menu Check In?
        <p>Untuk melakukan verifikasi terhadap outlet yang dikunjungi</p>
        <p style="font-size: 65%">spvc-karawang - 01 Aug 2013</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>