<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModalBroadcast()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="getNews()">
        <img src="">
        SEFIIA Berita
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="getFaq()">
        <img src="">
        SEFIIA FAQ
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="getQuiz()">
        <img src="">
        SEFIIA Quiz
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="getFile()">
        <img src="">
        SEFIIA Dokumen Sharing
      </ion-item>
    </ion-list>
    </div>
  </ion-content>
</ion-modal-view>