<ion-view view-title="Halaman SEFIIA Quiz">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">SEFIIA-Quiz</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left item-text-wrap" ng-click="answer()">
        <img src="">
        Apa fungsi menu Salesforce
        <p>Penulis: SUPERUSER</p>
        <p style="font-size: 65%">Tanggal Berakhir : 2013-08-07 23:59:59.0</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>