<ion-view view-title="Halaman About">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">About</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <div class="card">
      <ion-item class="item-divider">
        Versi:
      </ion-item>
      <ion-item class="item-text-wrap">
        SEFIIA v1.0.16-6 - Training
      </ion-item>
    </div>
    <div class="card">
      <ion-item class="item-divider">
        Alamat IP:
      </ion-item>
      <ion-item class="item-text-wrap">
        170.56.31.0
      </ion-item>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>