<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModalLanguage()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="hideModalLanguage()">
        <img src="">
        Bahasa Indonesia
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalLanguage()">
        <img src="">
        English
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>