<ion-view view-title="Halaman Reload Parameters">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Data Synchronization</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-divider">
        General
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        My Task
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Point of Sales
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Business Entity
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Salesforce
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Program Promo
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Event
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Event Company
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-divider">
        Product
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Product
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Product Pricing
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Product Event
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        My Stock
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Serial Format
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-divider">
        Survey
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Survey Title
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Survey Question
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Survey Question Mapping
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Survey Answer
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-divider">
        Parameter
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        SEFIIA Mobile Parameters
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-divider">
        Other
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        News Ticker
        <p>3 hours ago</p>
      </ion-item>
      <ion-item class="item-checkbox">
        <label class="checkbox">
          <input type="checkbox" checked>
        </label>
        Quiz
        <p>3 hours ago</p>
      </ion-item>
      <ion-item>
        <button class="button button-positive button-block">
          <strong>Synchronize</strong>
        </button>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>