<ion-view view-title="Halaman Edit Outlet">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Edit Outlet</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSubmit()">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Nama:</span>
          <input type="text" ng-model="submitData.name">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Position:</span>
          <input type="text" ng-model="submitData.position">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Perusahaan:</span>
          <input type="text" ng-model="submitData.company">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Username:</span>
          <input type="text" ng-model="submitData.username">
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-click="changePassword()">
          <span class="input-label">Password:</span>
          <input type="password" ng-model="submitData.password">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Last Known Location:</span>
          <textarea rows="2" cols="10" ng-model="submitData.lastloc"></textarea>
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Last Location Update:</span>
          <input type="text" ng-model="submitData.lastupdate">
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>