<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Ubah Password</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closePassword()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="submitPassword()">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Password Lama:</span>
          <input type="password" ng-model="submitData.old">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Password Baru:</span>
          <input type="password" ng-model="submitData.new">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Confirm Password:</span>
          <input type="password" ng-model="submitData.confirm">
        </ion-item>
        <ion-item>
          <input type="submit" class="button button-positive button-block" value="Ok">
          <input type="submit" class="button button-positive button-block" value="Batal">
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
</ion-modal-view>