<ion-view view-title="Halaman Informasi Stok">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Stock Information</h1>
    <button class="button icon ion-navicon" ng-click="showModal()"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Bundling Perdana
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        PERDANA SKUNK
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Perdana As
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Perdana Simpati
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Survey Voucher As
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Survey Voucher Simpati
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        Voucher Elektrik
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive" style="height: auto">
    <div class="list">
      <div class="item item-input-inset" style="padding: 0">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search...">
        </label>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>