<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModalReport()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="informasiStok()">
        <img src="">
        Informasi Stok
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hargaProduk()">
        <img src="">
        Harga Produk
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="riwayatAktivitas()">
        <img src="">
        Riwayat Aktivitas
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="outlet()">
        <img src="">
        Outlet
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalReport()">
        <img src="">
        Outlet Visit History
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>