<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        Perdana As 2k
        <p>Harga 2.000</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        Perdana Simpati 5k
        <p>Harga 5.000</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        PERDANA SIMPATI TAPIZY
        <p>Harga 0</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        Voucher 100k
        <p>Harga 100.000</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        Voucher 10k
        <p>Harga 0</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModal()">
        <img src="">
        Voucher 25k
        <p>Harga 0</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-positive" style="height: auto">
    <div class="list">
      <div class="item item-input-inset" style="padding: 0">
        <label class="item-input-wrapper">
          <input type="text" placeholder="Search...">
        </label>
      </div>
    </div>
  </ion-footer-bar>
</ion-modal-view>