<ion-view view-title="Halaman Outlet">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">List of Outlet</h1>
    <button class="button icon ion-navicon"></button>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        46 cell
        <p>Jl btb 7 ciampel</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        AFTALA CELL 2
        <p>KANTIN DORMI SURYA CIPTA,,HAPUS</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        ALDI CELL
        <p>JLN. KAMPUNG WARU KOTA KUTAPOHACI RT.07/02</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        BYL CELL
        <p>JLN. KEBON KELAPA KAMPUNG KEBON KELAPA RT.02/07</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="showModal()">
        <img src="">
        DEWO CELL
        <p>JL. KEBON KELAPA CIAMPEL,,HAPUS</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>