<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="openDraft()">
        Buka Dari Draft
      </ion-item>
      <ion-item ng-click="saveDraft()">
        Simpan Ke Draft
      </ion-item>
      <ion-item ng-click="doProcess()">
        Proses
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>