<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="addPOS()">
        <img src="">
        Add POS
        <p>Menu untuk menambahkan outlet baru</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="addEvent()">
        <img src="">
        Add Event
        <p>Menu untuk mencatat kegiatan/acara dari operator pesaing</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="eventSales()">
        <img src="">
        Event Sales
        <p>Menu untuk menjual produk fisik di lokasi acara</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>