<ion-view view-title="Halaman Pembaharuan Agenda">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Update Task</h1>
    <button class="button icon ion-navicon" ng-click="showModal()"></button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSubmit()">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Aktivitas:</span>
          <input type="text" ng-model="submitData.aktivitas">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Tipe Konsumen:</span>
          <input type="text" ng-model="submitData.tipeKonsumen">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Konsumen:</span>
          <input type="text" ng-model="submitData.konsumen">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Tanggal:</span>
          <input type="text" ng-model="submitData.timestamp">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Deskripsi:</span>
          <textarea rows="8" cols="10" ng-model="submitData.deskripsi"></textarea>
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Hasil:</span>
          <textarea rows="8" cols="10" ng-model="submitData.hasil"></textarea>
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Status:</span>
          <input type="text" ng-model="submitData.status">
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>