<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pelanggan baru ke</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideNewCustomer()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana Simpati 5k:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana As 2k:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana XL:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana IM3:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana Three:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">Perdana AXIS:</span>
        <input type="text">
      </ion-item>
      <ion-item class="item-input item-stacked-label">
        <span class="input-label">OTHERS:</span>
        <input type="text">
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar style="height: auto">
    <button class="button button-block button-positive" style="margin: 0">OK</button>
  </ion-footer-bar>
</ion-modal-view>