<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item ng-click="doCheckIn()">
        Check In
      </ion-item>
      <ion-item ng-click="brokenQRCode()">
        QRCode Rusak
      </ion-item>
      <ion-item ng-click="outletClosed()">
        Outlet Tutup
      </ion-item>
      <ion-item ng-click="doUpdate()">
        Perbaharui Task
      </ion-item>
    </ion-list>
  </ion-content>
</ion-modal-view>