<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Pilih Menu</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="hideModalTwo()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-thumbnail-left" ng-click="internalSurvey()">
        <img src="">
        Survey Internal
        <p>Menu untuk mencatat hasil survey di Outlet</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="swingerSurvey()">
        <img src="">
        Survey Swinger
        <p>Menu untuk mendapatkan informasi perpindahan informasi perpindahan pelanggan dari sebuah operator ke operator lain</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="salesforceSales()">
        <img src="">
        Salesforce Sales
        <p>Menu untuk mendistribusikan produk fisik ke Outlet</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalTwo()">
        <img src="">
        Survey Free
        <p>Menu untuk mencatat hasil survey di Outlet</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalTwo()">
        <img src="">
        Stock Taking
        <p>Menu untuk mendapatkan informasi stok Starter Pack dan Voucher</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalTwo()">
        <img src="">
        Product Return
        <p>Menu untuk mengembalikan produk fisik ke Distributor</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="hideModalTwo()">
        <img src="">
        Visit Outlet
        <p>Menu untuk melaporkan kunjungan ke Outlet, selain kegiatan survey dan sales</p>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-modal-view>