<ion-view view-title="Halaman Salesforce Sales">
  <ion-header-bar align-title="center" class="bar-dark">
    <button class="button icon ion-ios-home" ng-click="goBack()"></button>
    <h1 class="title">Visit Outlet</h1>
    <button class="button icon ion-navicon" ng-click="showModal()"></button>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doSubmit()">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Sales Area:</span>
          <input type="text" ng-model="submitData.area">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Nama Outlet:</span>
          <input type="text" ng-model="submitData.name">
        </ion-item>
        <ion-item class="item-input item-stacked-label">
          <span class="input-label">Deskripsi:</span>
          <textarea rows="8" cols="10"  ng-model="submitData.description"></textarea>
        </ion-item>
        <ion-item class="item-divider">
          <div class="row">
            <div class="col col-80">
              Daftar Foto
            </div>
            <div class="col col-10">
              <i class="ion-share" style="font-size: 25px"></i>
            </div>
            <div class="col col-10">
              <i class="ion-plus" style="font-size: 25px"></i>
            </div>
          </div>
        </ion-item>
      </ion-list>
    </form>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="title">https://telkomsel-sfa.telkomsigma.com</div>
  </ion-footer-bar>
</ion-view>